.venv/

# data directory
data/

# macos files
.DS_Store

# ignore all keras files except model.keras
*.keras
!model.keras

# ignore core latex/pdflatex auxiliary files:
report/**/*.aux
report/**/*.lof
report/**/*.log
report/**/*.lot
report/**/*.fls
report/**/*.out
report/**/*.toc
report/**/*.fmt
report/**/*.fot
report/**/*.cb
report/**/*.cb2
report/**/.*.lb
report/**/*.synctex.gz